:root {
    --Green-500: hsl(158, 36%, 37%);
    --Green-700: hsl(158, 42%, 18%);
    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
    --margin-left: 1em;
    --margin-top-bottom: 1.5em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 14px;
}

body {
    font-family: "Montserrat", sans-serif;
    /* font-family: "Fraunces", serif; */
}

main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width:660px) {
    .card {
        flex-direction: row;
        width: 95%;
    }

}

.card img.product {
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

@media (min-width:550px) {
    .card img.product {
        width: 60%;
    }

}

@media (min-width:660px) {
    .card img.product {
        width: 50%;
    }

}

@media (min-width:660px) {
    .card img.product {
        border-radius: 0;
        aspect-ratio: 1/2;
        height: 60%;
        width: 30%;
    }

}

.card .info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    height: 80%;

    background-color: white;
}

@media (min-width:550px) {
    .card .info {
        width: 60%;

    }

}

@media (min-width:660px) {
    .card .info {
        width: 40%;
        height: 60%;
    }

}

.card #category {
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: absolute;
    top: 30px;
    left: 20px;
}

.card .title {
    width: 70%;
    margin: var(--margin-top-bottom) 0 0 calc(var(--margin-left) - 20px);
    text-transform: capitalize;

}

.card #description {
    line-height: 1.8;
    padding-right: 30px;
    margin-left: var(--margin-left);

}

.card .price {
    display: flex;
    align-items: center;
    margin-left: var(--margin-left);

}

.card .price .price-before {
    margin-left: var(--margin-left);
    position: relative;
}

.card .price .price-before::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 47px;
    height: 1px;
    background-color: var(--Grey);
}

.card .price .price-after {
    font-size: 30px;
    font-weight: bold;
    color: var(--Green-500);

}

.card .buy {
    margin-left: var(--margin-left);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    background-color: var(--Green-500);
    border-radius: 10px;
}

.card .buy:hover {
    background-color: var(--Green-700);
}

.card .buy a {
    text-decoration: none;
    color: white;
}

@media (min-width:660px) {


    .card #description {
        line-height: 1.8;
        padding-right: 30px;
        margin: var(--margin-top-bottom) var(--margin-left);


    }

    .card .price .price-before {
        margin: 0 var(--margin-left);
    }

    .card .buy {
        padding: 1em 1.5em;
        margin: var(--margin-top-bottom) var(--margin-left);

    }
}

@media (min-width:900px) {
    .card img.product {
        width: 25%;
        height: 60%;
    }

    .card .info {
        height: 60%;
        width: 30%;
    }

    .card #category {
        top: 50px;
        left: 35px;
        letter-spacing: 10px;
    }

    .card .title {
        margin: 2.5em 1em 0 1em;
    }

    .card #description {
        line-height: 2;
        padding-right: 40px;
        margin: 0 0 0 2em;

    }

    .card .price {
        margin: 0em var(--margin-left);
    }

    .card .price .price-before {
        margin: 0 var(--margin-left);
    }

    .card .buy {
        padding: 1em 1.5em;
        margin: 0 1em;
    }

}